twine
boto3
pandas
numpy
psycopg2-binary
pytest
pytest-cov
codecov
six
git+git://github.com/mitchelllisle/napoleon.git#egg=napoleon
git+git://github.com/mitchelllisle/martha.git#egg=martha
google-cloud
google-cloud-storage
